{% extends 'edit/edit.base.html' %}

{% block content %}
    <h1> Edit the Copy from the Database</h1>
    <div>
        <label>Quality</label>
        <input type="text" class="form-control" name="quality" value="{{copies.quality}}"/>
    </div>
    <div>
        <label>Reservation ID</label>
        <select name="reservation_id" class="form-control">
            {% for each_reservation in reservations %}
                <option value="{{each_reservation.reservation_id}}"
                    {%if each_reservation.reservation_id == reservations.reservation_id %} selected {% endif %}>
                    {{each_reservation.reservation_id}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label>Book ID</label>
            <select name="book_id" class="form-control">
            {% for each_book in books %}
                <option value="{{each_book.book_id}}"
                    {%if each_book.book_id == books.book_id %} selected {% endif %}>
                    {{each_book.book_id}}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}