{% extends 'edit/edit.base.html' %}

{% block content %}
    <h1> Edit the Writing Credit from the Database</h1>
    <div>
        <label>Author ID</label>
        <select name="author_id" class="form-control">
            {% for each_author in authors %}
                <option value="{{each_author.author_id}}"
                    {%if each_author.author_id == authors.author_id %} selected {% endif %}>
                    {{each_author.author_id}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label>Book ID</label>
            <select name="book_id" class="form-control">
            {% for each_book in books %}
                <option value="{{each_book.book_id}}"
                    {%if each_book.book_id == books.book_id %} selected {% endif %}>
                    {{each_book.book_id}}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}