{% extends 'display/base.display.html' %}

{% block  content %}
    <h1 style="display:flex;justify-content:center;">List of Writing Credits</h1>
    
    <div class="container container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th>Writing Credit ID</th>
                    <th>Author ID</th>
                    <th>Book ID</th>
                    <th>Edit Writing Credit</th>
                    <th>Delete Writing Credit</th>
                </tr>
            </thead>
            <tbody>
                {% for each_writingcredit in writingCredits %}
                <tr>
                    <td>{{each_writingcredit.writing_credit_id}}</td>
                    <td>{{each_writingcredit.author_id}}</td>
                    <td>{{each_writingcredit.book_id}}</td>
                    <td><a href="{{ url_for('edit_writingcredits',writing_credit_id=each_writingcredit.writing_credit_id)}}">Edit</a></td>
                    <td><a href="{{ url_for('delete_writingcredits',writing_credit_id=each_writingcredit.writing_credit_id)}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <td><a href="{{ url_for('create_writingcredits')}}">Add Your Own Edition To Our Database</a></td>
    </div>
{% endblock %}